.header-bg {
  background-color: $color-grey-light-1;
  .header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-light-green, 0.4), rgba($color-medium-green, 0.4)),
      url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    &__logo-box {
      padding: 4rem;
    }

    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
