.link {
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer;

  &--animated {
    animation: moveInTop 0.8s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 4rem;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.2s;
  }

  &:hover, &:focus {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.281);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-medium-green;
    color: $color-white;

    &::after {
      background-color: $color-dark-green;
    }
  }
}

.link-text {
  transition: all 0.5s;
  &:link,
  &:visited {
    background-image: linear-gradient($color-medium-green, $color-medium-green);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: $default-font-size;
    color: $color-medium-green;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    border-bottom: 1px solid $color-medium-green;
  }

  &:hover {
    background-size: 100% 100%;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.35);
    transform: translateY(-4px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color: $color-black, $alpha: 0.15);
    transform: translateY(0);
  }
}
