.section-about {
  background-color: $color-grey-light-1;
  padding: 10rem;
  padding-bottom: 20rem;
}

.section-features {
  margin-top: -8rem;
  padding: 20rem 10rem;
  background-image: linear-gradient(to right bottom, rgba($color-light-green, 0.4), rgba($color-medium-green, 0.4)),
    url(../img/nat-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 20rem 10rem 10rem;
  margin-top: -10rem;
  background-color: $color-grey-light-1;
}

.section-stories {
  padding: 20rem 10rem 10rem;
  position: relative;
}
